* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-padrao: #ff523b;
    --cor-padrao-hover: #f3b2e5;
    --cor-fonte: #fff;
    --cor-fonte-p: #555;
    --cor-btn: #563434;
    --cor-btn-hover: #fff;
    --cor-btn-fonte: #000;
    --cor-fonte-corpo: #555;
    --cor-fonte-corpo-leve: #777;
}

body {
    font-family: 'Poppins', sans-serif;
}

p {
    color: var(--cor-fonte-p);
}

.header {
    background: radial-gradient(var(--cor-padrao-hover), var(--cor-padrao));
}

.container {
    max-width: 1300px;
    margin: auto;
    padding: 0 25px 0 25px;
}

.header .nav-bar {
    display: flex;
    align-items: center;
    padding: 20px;
}

.header nav {
    flex: 1;
    text-align: right;
}

.header nav ul {
    /*Fique em uma linha só dentro do bloco*/
    display: inline-block;
    list-style: none;
}

.header nav ul li {
    display: inline-block;
    margin-right: 20px;
}

.header nav ul li a {
    text-decoration: none;
    color: var(--cor-fonte);
}

.row {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    margin-top: 150px;
    width: 100%;
    padding: 0 25px 0 25px;
}

.row .column-2 {
    flex-basis: 50%;
    max-width: 490px;
}


.row img {
    width: 500px;
}


.row .column-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.row .column-2 p {
    color: var(--cor-fonte);
    font-weight: 500;
    margin-bottom: 40px;
}


.column-2 .btn {
    background: var(--cor-btn);
    padding: 8px 20px;
    margin-top: 30px;
    border-radius: 8px;
    border: none;
    transition: background 0.5s;
}

.row .column-2 a {
    color: var(--cor-btn-hover);
    text-decoration: none;
    font-weight: 500;
}

.row .column-2 .btn:hover {
    background: var(--cor-btn-hover);
    color: var(--cor-btn-fonte);
}

.categories {
    margin: 70px 0;
}

.content-cotegories {
    max-width: 1080px;
    margin: auto;
}

.content-cotegories .cards {
    display: flex;
    gap: 90px;
}

.content-cotegories .cards .card {
    /* flex-basis: 30%; */
    max-width: 350px;
}

.content-cotegories .cards .card img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}


.featured-content {
    max-width: 1350px;
    margin: 0 auto;
}

.featured-content h2 {
    line-height: 60px;
    font-size: 40px;
    margin: 80px auto 80px;
    text-align: center;
    color: var(--cor-fonte-corpo);
    position: relative;

}

.featured-content h2::after {
    content: '';
    position: absolute;
    background-color: var(--cor-padrao);
    width: 80px;
    height: 5px;
    border-radius: 5px;
    bottom: -10px;
    /* Ajuste conforme necessário */
    left: 50%;
    transform: translateX(-50%);

}

.featured-content .cards-featured-content {
    width: 100%;
    overflow: hidden;
    /* Limpa o float */
}


.featured-content .cards-featured-content .card-featured-content {
    /* Cada card ocupa 25% da largura */
    width: 25%;
    /* faz com que  fiquem lado a lado. */
    float: left;
    padding-left: 20px;
    margin-bottom: 50px;
    /* margin: auto; */
    transition: transform 0.5s ease;

}

.featured-content .cards-featured-content .card-featured-content:hover {
    transform: scale(1.1);
    overflow: hidden;
}

.featured-content .cards-featured-content .card-featured-content img {
    width: 80%;
    object-fit: cover;
    object-position: center;
}

.featured-content .cards-featured-content .card-featured-content h4 {
    font-weight: 500;
}

.featured-content .cards-featured-content .card-featured-content .star-rating {
    color: var(--cor-padrao);
}

/*---------Produtos exclusivos------*/
.exclusive-products {
    background: radial-gradient(var(--cor-padrao-hover), var(--cor-padrao));
    margin-top: 80px;
    padding: 30px 0;
}

.exclusive-products .column-2 span {
    font-size: 40px;
    font-weight: 800;
}

.exclusive-products .column-2 h2 {
    font-size: 30px;
    font-weight: 600;
    margin-top: 30px;
}

p {
    color: var(--cor-btn-fonte);
    margin-bottom: 40px;
}

/*---------Depoimentos------*/
.customer-testimonial .cards {
    display: flex;
    gap: 50px;
    margin: 100px 0;
}

.customer-testimonial .card {
    flex-basis: 100%;
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0 rgb(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.5s;
}

.customer-testimonial .card:hover {
    transform: scale(1.1);
}

.customer-testimonial .testimonial-icon {
    font-size: 30px;
    color: var(--cor-padrao);
    margin-bottom: 30px;
}

.customer-testimonial .card p {
    margin-bottom: 10px;
    font-weight: 500;
    color: var(--cor-fonte-corpo-leve);
}

.customer-testimonial .star-rating {
    color: var(--cor-padrao);
}

.customer-testimonial .cards .card img {
    width: 70px;
    border-radius: 50%;
    margin-top: 30px;
    border: 2px solid var(--cor-padrao);
}

.customer-testimonial .card h3 {
    font-size: 16px;
    font-weight: 600;
    color: var(--cor-fonte-corpo);
}

/*---------Marcas------*/
.brands {
    /* display: flex;
    justify-content: space-between; */
    margin: 200px auto;
}

.brands .cards {
    gap: 124px;
}

.brands .cards .card {
    width: 500px;
    cursor: pointer;
    transition: transform 0.5s ease;
}

.brands .cards .card:hover {
    color: var(--cor-padrao);
    transform: scale(1.1);
}

.brands .cards .card h2 {
    font-size: 40px;
}

/*---------Marcas------*/
footer {
    background-color: var(--cor-btn-fonte);
    color: var(--cor-fonte);
    font-size: 14px;
}

footer .footer-column-1,
.footer-column-2,
.footer-column-3 {
    min-width: 250px;
}

footer .footer-column-2,
.footer-column-3 {
    /* flex-basis: 12%; */
    text-align: right;
    list-style: none;
}

footer .row {
    padding: 50px 0;
}

footer h3 {
    color: var(--cor-padrao);
    margin-bottom: 20px;
}

footer p {
    color: var(--cor-fonte);
}

footer .footer-column-2 ul li {
    list-style-type: none;
    margin-bottom: 20px;
}

footer .footer-column-3 ul li {
    list-style-type: none;
    margin-bottom: 20px;
}

.footer-column-1 .app-logo {
    display: flex;
}

.footer-column-1 .app-logo img {
    width: 180px;
}